<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  </head>
  <body class="purchaseorder-pdf" style="font-family: arial">
    <div id="header">
      <div style="display: flex">
        <div><img src="swiftcart.svg" style="width: 100px" /></div>
        <div style="display: flex; align-items: center">
          Example company B.V. <br />
          Dorpsstraat 21 <br />
          3928 AM Utrecht <br />
          Nederland <br />
        </div>
        <div style="width: 100px"></div>
      </div>
    </div>

    <br />

    <div id="footer">
      <div class="page-number"></div>
    </div>

    <br />

    <div id="document" style="width: 90vw">
      <div id="documenthead">
        <div id="metadata">
          <table>
            <tr class="metadata-purchaseorderid" style="text-align: left">
              <th>Purchase order</th>
              <td>{purchaseorderid}</td>
            </tr>
            <tr class="metadata-warehouse" style="text-align: left">
              <th>Warehouse</th>
              <td>{warehouse name}</td>
            </tr>
            <tr class="metadata-date" style="text-align: left">
              <th>Date</th>
              <td>01-01-2019</td>
            </tr>
            <tr class="metadata-delivery-date" style="text-align: left">
              <th>Expected delivery date</th>
              <td>01-01-2019</td>
            </tr>
            <tr class="metadata-supplier-orderid" style="text-align: left">
              <th>Order number supplier</th>
              <td>{order number supplier}</td>
            </tr>
          </table>
        </div>
        <br />
      </div>

      <div class="content">
        <div class="template-custom-html-start">{template-start-text}</div>

        <div class="purchaseorder-remarks">
          <div class="purchaseorder-remarks-heading">Remarks</div>
          <div>{remarks}</div>
        </div>

        <br />

        <div id="products" class="products">
          <table style="width: 100%; text-align: left">
            <thead>
              <tr>
                <th class="column-productcode-supplier">Supplier</th>
                <th class="column-productcode">Product code</th>
                <th class="column-name">Name</th>
                <th class="right column-amount">Amount</th>
                <th class="right column-price">Price</th>
                <th class="right column-total-price">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="column-productcode-supplier">
                  {productcode supplier}
                </td>
                <td class="column-productcode">{productcode}</td>
                <td class="column-name">
                  <div class="name">{name}</div>
                </td>
                <td class="right column-amount">{amount}</td>
                <td class="right column-price">{price}</td>
                <td class="right column-total-price">{total price}</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
        <br />
        <div style="display: flex; justify-content: space-between">
          <div style="display: flex; align-items: center">
            <img src="qrcode.jpeg" style="width: 100px" />
          </div>
          <table>
            <tr>
              <td id="totalamount" class="align-right nowrap column-amount">
                {total amount}
              </td>
              <td class="column-price"></td>
              <td id="totalprice" class="align-right nowrap column-total-price">
                {total price}
              </td>
            </tr>
            <tr>
              <td colspan="3" class="align-right"><strong>Total:</strong></td>
            </tr>
          </table>
        </div>
        <br />
        <div class="template-custom-html-end">{template-end-text}</div>
      </div>
    </div>
  </body>
</html>
